/imageProcessingProject/x64/Debug
/imageProcessingProject/imageProcessingProject/x64/Debug
/imageProcessingProject/.vs
/imageProcessingProject/imageProcessingProject/imageProcessingProject.vcxproj.user
/imageProcessingProject/imageProcessingProject/imageProcessingProject.vcxproj.filters
/imageProcessingProject/Sample-Test1/*.user
/imageProcessingProject/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.6
/imageProcessingProject/Sample-Test1/x64/Debug
/imageProcessingProject/imageProcessingProject/avg_detected_rectangle.csv
/imageProcessingProject/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn.1.8.1.7
